body{
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding: 0; 
    box-sizing: border-box;
}
.wrapper{
    width: 980px;
    margin: auto
}
.logo{
    height: 80px;
    background: white;
    text-align: center;
}
.dangnhap{
    height: 25px;
    font-weight: bold;
    text-align: right;
}
.dangnhap a{
    color: black;
    text-decoration: none;
}
.dangnhap a :hover{
    text-decoration: underline;
}
.menu{
    height: 35px;
    background: #272f54;
}
.timkiem{
    width: 70px;
    height: 20px;
    background: #db2704;
    border: 0.5px solid white;
    color:white;
}
form{
    text-align: right;
    margin-right: 35px;
}
.text{ 
    width: 150px;
    height: 20px;
    border: none;
    background: white;
    padding-left: 5px;
    margin-top: 8px;
}
.menu ul li{
    list-style: none;
    float: left;
    line-height: 35px;
    padding-left: 40px;
}
.menu ul li a{
    color: white;
    font-size: 12px;
    text-decoration: none;
}
.menu ul li a:hover{
    text-decoration: underline;
}
.duongdan {
    background: white;
    height: 35px;
    text-align: left;
}
.duongdan a{
    color: black ;
    text-align: left;
    text-decoration: none;
    margin-left: 0px;
    padding-left: 5px;
    padding-right: 5px;
}
.duongdan a:hover{
    text-decoration: underline;
}
.duongdan {
    background: white;
    height: 35px;
    text-align: left;
    margin-left: 466px;
}
.duongdan a{
    color: black ;
    text-align: left;
    text-decoration: none;
    margin-left: 0px;
    padding-left: 5px;
    padding-right: 5px;
}
.duongdan a:hover{
    text-decoration: underline;
}
.container {
    width: 980px;
    min-height: 400px;
    margin: auto;
}
.container-main{
    height: 100%;
    width: 980px;
    margin: auto;
}
.container-main .top{
    height: 500px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid silver;
}
.top-left{
    height: 100%;
    width: 370px;
    position: relative; 
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.top-left .content{
    height: 370px;
    width: 580px;
    position: relative;
}
.top-left .content img{
    height: 370px;
    width: 250px;
}

.top-right{
    height:600px;
    width: 600px;
    padding-left: 20px;
}
.text{
    text-decoration: none;
    font-size: 16px;
    color: #666666b3;
}
.text:hover{
    color: #353535;
}
.top-right .content-top1{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.content-title{
    height: 20px;
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}
.divder {
    max-width: 30px;
    border-bottom: solid silver;
    margin: 15px 0;
}
.product-price {
    font-size: 25px;
    margin-bottom: 12px;
}
.item{
    height: 55px;
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.item input{
	height: 30px;
    width: 60px;
    text-align: center;
    font-size: 26px;
	border:1px solid #ddd;
	border-radius:4px;
    display: inline-block;
    vertical-align: middle;
}

.item-btn {
    padding: 11px 15px;
}

.content-bottom{
    height: 150px;
    width: 590px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-bottom{
    width: 282px;
    height: 100%;
}
.item-bottom-text{
    font-size: 16px;
    font-family: arial;
}
.item-bottom .box{
    height: 50px;
    width:100%;
    display: flex;
    justify-content: space-between;
}
.item-bottom-img{
    height: 45px;
    width: 91px;
}

.container-main .mid{
    height: 360px;
    width: 100%;
    padding-top: 35px;
    border-bottom: 1px solid silver;
}
.mid-main{
    height: 300px;
    width: 100%;
}
.mid-main .mid-top{
    height: 43px;
    width: 100%;
    display: flex;
}
.mid-main .mid-top .top-item{
    height: 42px;
    width: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #c89979 ;
    border-left: 1px solid silver ;
    border-right: 1px solid silver ;
    background-color: white;
}
.mid-main .mid-top .top-item1{
    height: 42px;
    width: 114px;
    margin-left: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid silver ;
    border-left: 1px solid silver ;
    border-right: 1px solid silver ;
}
.top-item-text{
    text-decoration: none;
    font-size: 14px;
    font-family: Arial;
    font-weight:bolder;
    margin-left: 13px;
}
.mid-main .mid-bottom{
    height: 300px;
    width: 100%;
    border: 1px solid silver;
}
.bottom-top{
    width: 1100px;
    height: 54px;
    margin: auto;
    display: flex;
    align-items: center;
}
.btn {
    margin-top: 8px;
    background-color:#272f54;
    padding: 11px 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
.btn:hover {
    background-color: #1d233d;
    
}
.item{
    height: 55px;
    width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.item-btn {
    padding: 11px 15px;
}
.tieude{
    width: 200px;
    height: 50px;
    background: #272f54;
    color: white;
    line-height: 50px;
    padding-left: 20px
}
.tieude a{
    color: white;
    text-decoration: none;
}
.sp1{
    width: 200px;
    height: 350px;
    border: 0.5px solid white;
    text-align: center;
    float:left;
    margin-right: 30px;
}
.box{
    width: 980px;
    height: 350px;
}
.footer{
    width: 980px;
    color: black;
}
.box2{
    width: 980px;
    height: 350px;
}
.sp2 ul li{
    list-style: none;
    line-height: 35px;
    padding-left: 5px;
    margin-left: 0px;
}
.sp2 ul li a{
    color: black;
    font-size: 16px;
    text-decoration: none;
    text-align: left;
    margin-left: 0px;
}
.sp2{
    width: 230px;
    height: 350px;
    border: 0.5px solid white;
    float:left;
    margin-right: 0px;
    margin-left: 0px;
}
.box3{
    width: 980px;
    height: 30px;
    background:#272f54; 
}
.box3 p{
    text-align: center;
    color: white;
}
.sp2 p{
    text-align: left;
}

