body{
    background: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding: 0; 
    box-sizing: border-box;
}
.wrapper{
    width: 980px;
    margin: auto
}
.logo{
    height: 80px;
    background: white;
    text-align: center;
}
.menu{
    height: 35px;
    background: #272f54;
}
.timkiem{
    width: 70px;
    height: 20px;
    background: #db2704;
    border: 0.5px solid white;
    color:white;
}
form{
    text-align: right;
    margin-right: 35px;
}
.text{ 
    width: 150px;
    height: 20px;
    border: none;
    background: white;
    padding-left: 5px;
    margin-top: 8px;
}
.menu ul li{
    list-style: none;
    float: left;
    line-height: 35px;
    padding-left: 40px;
}
.menu ul li a{
    color: white;
    font-size: 12px;
    text-decoration: none;
}
.menu ul li a:hover{
    text-decoration: underline;
}
.duongdan {
    background: white;
    height: 35px;
    text-align: left;
}
.duongdan a{
    color: black ;
    text-align: left;
    text-decoration: none;
    margin-left: 0px;
    padding-left: 5px;
    padding-right: 5px;
}
.duongdan a:hover{
    text-decoration: underline;
}
.box1{
    width: 980px;
    height: 40px;
    background:red; 
}
.box1 p{
    text-align: center;
    color: white;
    font-size: 25px;
    margin-top: 5px;
    text-align-last: center;
}
.diachi{
    background: #0099ff ;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    height: 40px;
    color: white;
}
table{
    margin-top: 20px;
    border: 2 solid black;
    box-sizing: border-box;
    border-collapse: collapse;
    border-color: black;
}
.lienhe{
    margin-top: 20px;
    background: none;
    padding: 0;
    height: auto;
    margin-bottom: 60px;
    box-sizing: border-box;
    display: block;
    color: black;
}
.lienhe1{
    font-weight: bold;
    font-size: 20px;
}
.input{
    height: 40px;
    line-height: 1.5;
    width: 500px;
    font-weight: 400;
    border-radius: 0.25rem;
    transition: ease-in-out;
    color: black;
    font-weight: bold;
}
::placeholder{
font-size: 15px;
}
.input1{
    height: 42px;
    line-height: 1.5;
    width: 508px;
    font-weight: bold;
    border-radius: 0.25rem;
    transition: ease-in-out;
    color: rgba(46, 45, 45, 0.658);
    font-size: 16px;
}
.input2{
    margin-top: 5px;
}
.guiyeucau{
    margin-top: 10px;
    width: 150px;
    height: 40px;
    background: #272f54;
    border: 0.5px solid white;
    color:white;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}
iframe{ 
    height: 300px;
    border: 1px solid #e4e4e4;
    margin-top: 10px;
}
.bando{
    font-size: 20px;
}
.fromdangki{
    margin-top: 15px;
}
.box2{
    width: 980px;
    height: 350px;
}
.footer{
    width: 980px;
    color: black;
}
.sp2 ul li{
    list-style: none;
    line-height: 35px;
    padding-left: 5px;
    margin-left: 0px;
}
.sp2 ul li a{
    color: black;
    font-size: 16px;
    text-decoration: none;
    text-align: left;
    margin-left: 0px;
}
.sp2{
    width: 230px;
    height: 350px;
    border: 0.5px solid white;
    float:left;
    margin-right: 0px;
    margin-left: 0px;
}
.box3{
    width: 980px;
    height: 30px;
    background:#272f54; 
}
.box3 p{
    text-align: center;
    color: white;
}
.sp2 p{
    text-align: left;
}
.dangnhap{
    height: 25px;
    font-weight: bold;
    text-align: right;
}
.dangnhap a{
    color: black;
    text-decoration: none;
}
.dangnhap a :hover{
    text-decoration: underline;
}